 .u-section-1 {
  background-image: linear-gradient(black, #ccd3db);
}

.u-section-1 .u-sheet-1 {
  min-height: 843px;
}

.u-section-1 .u-text-1 {
  font-size: 2.75rem;
  margin: 65px auto 0;
}

.u-section-1 .u-form-1 {
  height: 495px;
  width: 533px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 61px auto 60px;
}

.u-section-1 .u-label-1 {
  letter-spacing: 1px;
}

.u-section-1 .u-input-1 {
  --radius: 23px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-label-2 {
  letter-spacing: 1px;
}

.u-section-1 .u-input-2 {
  --radius: 23px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-label-3 {
  letter-spacing: 1px;
}

.u-section-1 .u-input-3 {
  --radius: 23px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-btn-1 {
  letter-spacing: 0px;
  background-image: none;
  width: 100%;
  font-size: 1.25rem;
  font-weight: 400;
  text-transform: none;
  padding-left: 0;
  padding-right: 0;
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }
}